<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.makhalibagas.searchgithub">

    <uses-permission android:name="android.permission.INTERNET" />

    <permission
        android:name="com.makhalibagas.searchgithub.READ_DATABASE"
        android:protectionLevel="normal" />
    <permission
        android:name="com.makhalibagas.searchgithub.WRITE_DATABASE"
        android:protectionLevel="normal" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <receiver
            android:name="com.makhalibagas.searchgithub.MyReceiver"
            android:enabled="true"
            android:exported="true">

        </receiver>

        <activity android:name=".View.Activity.SettingsActivity" />
        <activity android:name=".View.Activity.FavoriteActivity" />

        <provider
            android:name="com.makhalibagas.searchgithub.Provider.MyContentProvider"
            android:authorities="com.makhalibagas.searchgithub"
            android:enabled="true"
            android:exported="true"
            android:readPermission="com.makhalibagas.searchgithub.WRITE_DATABASE"
            android:writePermission="com.makhalibagas.searchgithub.WRITE_DATABASE" />

        <activity android:name=".View.Activity.DetailActivity" />
        <activity android:name=".View.Activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>